.ZVE96X {
    text-align: center
}

.ZVE96X ._2RZvAZ {
    color: #212121;
    font-weight: 500;
    font-size: 26px;
    margin: 20px 0 10px;
}

.ZVE96X .TQY5YL {
    color: #878787;
    font-size: 20px;
    margin-bottom: 8px;
}

.ZVE96X .vm3SEU {
    text-transform: uppercase;
    font-size: 16px;
}

._8AMZQr {
    font-size: 24px!important;
}

._21BbAm {
    height: 265px;
}

._39SDPR {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    height: 1px;
    display: block!important;
    width: 100%!important;
}

._6t1WkM {
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
}

._3HqJxg {
    width: 100%;
    position: relative;
}

._2qUd5H {
    padding: 60px 0;
}

._1YokD2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

._1YokD2._3Mn1Gg {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}

._1YokD2._2GoDe3 {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
}

._1YokD2._2GoDe3 .AFCaNP {
    width: auto;
    max-width: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

._1AtVbE {
    display: block ;
}

._78xt5Y {
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.HqwhXH {
    position: absolute;
    padding: 10px 0;
    width: 100vw;
    z-index: 2;
    background: #fff;
}

._3TOw5k ._3CavZT {
    border: none;
    box-shadow: none;
    margin: 24px 0 0 -18px;
}

._3TOw5k ._3CavZT ._-3gI08 {
    color: #212121;
    font-size: 22px;
}

._3TOw5k ._3CavZT .lOSaPu {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMi4xNzUuMzhsNS4yNjIgNS4xOEwxMi43MS4zOGwxLjYyIDEuNTk1TDcuNDM3IDguNzYuNTQzIDEuOTc1IiBmaWxsPSIjMzUzNTM1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) no-repeat;
    display: inline-block;
    width: 25px;
    height: 11px;
}

._3TOw5k ._i6Wtgdisplay:none}

._3TOw5k ._2yIA0Y {
    border-top: 2px solid #f0f0f0;
    cursor: pointer
}

._3TOw5k ._2yIA0Y ._2cLjiM {
    font-size: 24px;
    padding: 32px 0 32px 24px;
    font-weight: 500
}

._3TOw5k ._2yIA0Y ._2jufoV {
    padding: 40px 24px 0 0;
    text-align: center
}

._2LYB2J {
    height: 200px
}

.T-VMGO {
    height: 400px
}

._2AscrM,._3h6__r {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._3h6__r {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.Duu23f {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 16px 24px;
    border-bottom: 2px solid #f0f0f0;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    height: 64px
}

._3OfhSu {
    cursor: pointer;
    margin: 2px 4px 0 0
}

._3msiXv {
    word-break: break-word
}

._3msiXv ._3g_HeN {
    font-size: 24px;
    margin: 15px 0;
    font-weight: 500
}

._1-GQyH {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._1-GQyH ._3g_HeN {
    font-size: 18px;
    line-height: 56px;
    padding: 0 24px;
    font-weight: 500
}

._1XqsKb {
    max-width: 406px!important
}

._2KgtFC {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 12px 16px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.12);
    border-radius: 4px;
    font-family: 500;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

._2KgtFC,._2KgtFC ._2jAffS {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center
}

._2KgtFC ._2jAffS {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -ms-flex-pack: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px
}

._2KgtFC ._2jAffS ._39UmMw {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._2KgtFC ._2jAffS ._39UmMw .lNRzo7 {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

._2KgtFC ._2jAffS ._3cbqEw {
    color: #111112;
    line-height: 20px;
    margin-right: 5px
}

._2KgtFC ._2jAffS ._1ztrhx {
    color: #111112;
    line-height: 20px;
    font-weight: 500
}

._2KgtFC ._2jAffS ._1z9mdb {
    background-color: #f0f2f5;
    margin: 0 0 0 12px;
    color: #717478;
    font-size: 10px;
    text-align: center;
    padding: 4px 8px;
    border-radius: 2px
}

._2KgtFC ._2jAffS ._24tYAm {
    color: #717478;
    line-height: 20px;
    width: 386px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0
}

._2KgtFC ._2x4YJB {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

._2KgtFC ._2x4YJB ._12UzxE {
    width: 2%;
    position: absolute
}

._2KgtFC ._2x4YJB ._38NiRp {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

._2KgtFC ._2x4YJB ._38NiRp ._2MMH-I {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 16px;
    color: #2874f0;
    cursor: pointer;
    font-weight: 500
}

._2KgtFC ._2x4YJB ._38NiRp ._2MMH-I:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.12)
}

.VUS-tD {
    text-align: right
}

.eBV0fb {
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,.1)
}

.eBV0fb._1XSTSs {
    border-top: 0;
    padding: 0 24px 24px;
    text-align: center;
    box-shadow: none
}

.eBV0fb ._2ObVJD {
    width: auto
}

._2ObVJD {
    width: 100%;
    padding: 16px 30px;
    min-width: 250px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    font-size: 16px;
    font-weight: 500;
    position: relative
}

._2ObVJD._2M0O7T {
    border-radius: 4px;
    text-transform: none;
    width: 100%;
    background-color: #2a55e5;
    padding: 8px
}

._2ObVJD._3ajIkB {
    padding: 0 30px;
    height: 56px
}

._3ZAjzG {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

._3ZAjzG,.lEo1xI {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.lEo1xI {
    margin: 8px 0;
    background-color: #ffffe6;
    border-radius: 2px;
    border: 1px solid #ffe11b;
    padding: 8px 12px;
    font-size: 12px;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.lEo1xI .fwYf7c {
    margin-left: 10px
}

._1qDKt-,._1wp0Uq {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._2FxGQ6 {
    padding: 26px 16px 26px 26px;
    width: 418px
}

._2FxGQ6 ._1CRTkN {
    margin-right: 12px
}

._2FxGQ6 ._2mKO0H {
    width: 56px;
    height: 64px
}

._2FxGQ6 ._2VkpCT {
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: 500
}

._2FxGQ6 .lVpFLm {
    color: #2874f0;
    cursor: pointer
}

._2FxGQ6 .Qk2UT- {
    font-weight: 500;
    color: #ff6161;
    margin: 2px 0 4px;
    display: block
}

._2FxGQ6 ._3jdABb {
    margin-top: 24px
}

._2FxGQ6 .LFthfI {
    font-weight: 500;
    padding: 14px 0;
    min-width: 166px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #c2c2c2;
    text-transform: uppercase
}

._2FxGQ6 .EIRpiG {
    margin-right: 30px
}

._2FxGQ6 ._210eMQ {
    color: #fff;
    background: #2874f0;
    border: none
}

._2FxGQ6 .w7q7KL {
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    margin-right: 10px
}

._2FxGQ6 ._2SFOrN {
    height: 120px;
    max-height: 360px;
    overflow: auto;
    margin-top: 18px
}

._2FxGQ6 ._1Rxa_x {
    margin-bottom: 15px
}

._2FxGQ6 ._1606II {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 500
}

._2FxGQ6 .Im4plV {
    font-weight: 500;
    color: #ff6161;
    margin: 2px 0 4px;
    display: block
}

._2FxGQ6 ._3jMseY {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #212121
}

._2-AswF {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

._2-AswF .LFthfI {
    width: 100%
}

._35mLK5 {
    background: #fff
}

._3aPjap {
    font-weight: 500;
    color: #878787
}

._3aPjap,._I_XQO {
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px
}

._19i7N_ {
    border-top: 1px dashed #e0e0e0
}

._1PXZ9q {
    background-color: #f7fffa;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f7fffa
}

._3TUYfj {
    color: #111112
}

._3EvNPk {
    font-weight: 500
}

.KsZkrY {
    margin: 24px 15px 8px
}

.KsZkrY ._1kdpuj {
    width: 29px;
    height: 36px;
    margin-right: 20px;
    float: left
}

.KsZkrY .s3KDM9 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    display: block;
    margin-left: 49px;
    color: #878787
}

._2E_sHl {
    position: relative;
    z-index: 2
}

._2E_sHl ._2NSGQz {
    width: inherit
}

._2E_sHl .DOrjGn {
    position: absolute
}

._2E_sHl ._1fjE6R {
    position: fixed
}

._2E_sHl ._2k8It- {
    top: 0!important
}

._2E_sHl .n5GcE7 {
    bottom: 0;
    top: auto!important
}

._2E_sHl ._3keV6g {
    -webkit-transform: translateY(0)!important;
    transform: translateY(0)!important
}

._35mLK5 {
    background: var(--color-white-bg);
    border-radius: 2px;
    min-height: 47px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2)
}

._3aPjap {
    display: block;
    text-transform: uppercase;
    padding: 13px 24px;
    font-weight: var(--font-medium);
    color: var(--color-grey-grade4);
    min-height: 47px;
    border-radius: 2px 2px 0 0
}

._3aPjap,._I_XQO {
    border-bottom: 1px solid var(--color-grey-grade1);
    font-size: var(--font-size-16)
}

._I_XQO {
    padding: 0 24px
}

._19i7N_ {
    border-top: 1px dashed var(--color-grey-grade2);
    margin-bottom: 20px
}

._1PXZ9q {
    background-color: var(--color-green-bg);
    margin-left: -24px;
    margin-right: -24px;
    border-top: 1px solid var(--color-grey-grade1);
    border-bottom: 1px solid var(--color-green-bg);
    padding-left: 24px;
    padding-right: 24px
}

._3TUYfj {
    color: var(--color-grey-grade25)
}

._3EvNPk {
    font-weight: var(--font-medium)
}

._1G1ZOh {
    width: 376px;
    display: inline-block;
    vertical-align: top
}

@media only screen and (max-width: 1240px) {
    ._1G1ZOh {
        width:280px!important
    }
}

.dimARw {
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top
}

._3O1dB3,.dimARw._3M1kzW {
    width: 368px;
    margin-left: 16px
}

._3O1dB3 {
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: top
}

._3O1dB3 ._1J5tjG {
    top: 72px
}

@media only screen and (max-width: 1240px) {
    ._3O1dB3 {
        width:280px!important
    }
}

._15Mxdu {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    min-height: 47px
}

._2ron3- {
    position: absolute;
    width: 100%
}

._1YQFQF._3lubdO {
    color: #717478;
    text-decoration: line-through
}

._1YQFQF._3F84lt {
    color: #008c00
}

._1YQFQF._2cpDDY {
    margin-right: 5px
}

._1MaUCb {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

._1MaUCb ._2SabxT {
    max-width: 68%
}

._1MaUCb ._2SabxT .nxl3SA {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._1MaUCb ._2SabxT .nxl3SA ._2aK7WF {
    margin-left: 8px;
    min-height: 16px;
    min-width: 16px
}

._1MaUCb ._2SabxT .nxl3SA ._3GHitQ {
    margin-right: 8px;
    height: 20px;
    width: 20px
}

._1MaUCb ._2Giz_n {
    font-size: 12px;
    color: #878787
}

._3qPnhZ {
    color: #388e3c
}

._1QFQzG {
    color: #008c00
}

._3s5O6i {
    border-top: 1px dashed #e0e0e0;
    padding: 12px 0;
    font-size: 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-justify-content:space-between; */
    -ms-flex-pack: justify;
    /* justify-content:space-between; */
    border-radius: 2px;
    color: #388e3c;
    font-weight: 500
}

._2sBKBa {
    background: #fffbf6;
    padding: 14px 24px;
    border-radius: 2px
}

._2sBKBa ._3XbgtS {
    font-size: 14px;
    line-height: 20px;
    margin-top: 3px
}

._2kQRc4 {
    background-color: #f7fffa;
    margin-left: -24px;
    margin-right: -24px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f7fffa;
    padding-left: 24px;
    padding-right: 24px
}

._1D7qaJ {
    color: #111112
}

._3KXQLa {
    font-weight: 500
}

._1fiRYC {
    border-top: 1px solid #f0f0f0
}

._3zY6q- {
    display: block;
    padding: 12px 24px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    min-height: 47px;
    border-radius: 2px 2px 0 0
}

._1dqRvU {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

._1dqRvU ._3X7Jj1 {
    margin: 0
}

._1TFy_i {
    font-size: inherit;
    line-height: inherit;
    margin-top: 0
}

._1sdGnr {
    padding: 12px 24px;
    color: #666;
    font-size: 12px;
    line-height: 16px
}

._1sdGnr ._39PxdB {
    margin-bottom: 12px
}

.mFhtyw {
    border-top: 1px solid #f0f0f0
}

.h2UrCS {
    border-top: 1px dashed #e0e0e0;
    padding: 15px 0
}

._3jLui0 {
    font-family: Roboto;
    font-size: 12px;
    color: #212121
}

._1_2Fz6 {
    width: 560px
}

._2ctg8D {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

._1rKFlT {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #212121
}

._2HZgmN {
    border: 1px solid #dbdbdb;
    color: #2874f0;
    border-radius: 2px;
    margin-left: 8px;
    padding: 5px 12px 4px
}

._2HZgmN,._2HZgmN:hover {
    box-shadow: none
}

.YHRW9e {
    padding: 24px
}

._2zNwNq {
    vertical-align: middle
}

._1KLJl6 {
    margin-left: 8px
}

._1-0AUl {
    border: 1px solid #e0e0e0;
    margin-top: 16px;
    padding: 16px;
    border-radius: 4px
}

._1-0AUl._3UOHcv {
    background-color: #f5faff;
    border-color: #2a55e5
}

._3msWs_ {
    position: relative;
    margin-bottom: 8px;
    left: -24px
}

._3msWs_,.CeY3Pt {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.CeY3Pt {
    font-weight: 400
}

.CeY3Pt ._3IVIlQ {
    width: 100%
}

.CeY3Pt ._3IVIlQ ._29UNPc {
    font-size: 14px;
    line-height: 20px
}

.CeY3Pt ._3IVIlQ .gB4jb1 {
    font-size: 12px;
    line-height: 16px;
    color: #717478
}

.CeY3Pt ._3iJ_ea {
    margin-left: 24px;
    display: inline;
    -webkit-justify-content: end;
    -ms-flex-pack: end;
    justify-content: end
}

.CeY3Pt ._3iJ_ea._3UOHcv {
    color: #2a55e5
}

._23iSTJ {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600
}

._124baV {
    margin: 4px 15px 8px;
    text-align: center
}

._124baV ._1RVm3P {
    font-size: 14px;
    text-align: left;
    display: inline-block;
    color: #878787;
    padding: 5px 0 5px 35px;
    background: url(//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/shield_b33c0c.svg) no-repeat 0 50%;
    background-size: 25px 31px;
    font-weight: 500
}

._2WOk5C {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-filter: none!important;
    filter: none!important;
    padding: 12px 0;
    margin: 0 18px 0 12px;
    border-bottom: 1px solid #f9f9f9
}

._2WOk5C ._36A12j {
    max-width: 300px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap
}

._2WOk5C ._2Hjg7S {
    padding: 2px 8px;
    margin-left: 12px;
    border-radius: 2px;
    line-height: 16px;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    background: #26a541
}

._2WOk5C ._1mXpeX {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

._2WOk5C ._1mXpeX ._3Wi9Mb {
    width: 72px;
    height: 72px
}

._2WOk5C ._1mXpeX ._3Wi9Mb,._2WOk5C ._1mXpeX ._3Wi9Mb ._1XUDBV {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

._2WOk5C ._1mXpeX ._3Wi9Mb ._1XUDBV {
    max-height: 64px;
    max-width: 64px;
    margin: auto;
    display: block
}

._2WOk5C ._1mXpeX ._21dMvQ {
    height: 20px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    text-align: center;
    pointer-events: none;
    position: absolute;
    left: 4px;
    bottom: 4px;
    overflow-x: hidden;
    width: 24px;
    color: #212121;
    padding-top: 2px
}

._2WOk5C ._1mXpeX ._-4o6jJ {
    display: block;
    margin: 0 8px 6px 18px
}

._2WOk5C ._1mXpeX ._-4o6jJ ._31XCUb:hover {
    color: #2874f0
}

._2WOk5C ._1mXpeX ._-4o6jJ .NqImU1 {
    max-width: 320px
}

._2WOk5C ._1mXpeX ._-4o6jJ ._1ATEnQ {
    margin-top: 4px;
    color: #878787;
    font-size: 12px;
    font-weight: 500
}

._2WOk5C ._1mXpeX ._-4o6jJ ._3vB42F {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 3px;
    margin-top: 8px
}

._2WOk5C ._1mXpeX ._-4o6jJ ._3vB42F .lxzS32 {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    margin-right: 12px;
    line-height: 1
}

._2WOk5C ._1mXpeX ._-4o6jJ ._3vB42F ._1E36jR {
    text-decoration: line-through;
    color: #878787;
    display: inline-block;
    margin-right: 8px
}

._2WOk5C ._1mXpeX ._-4o6jJ ._3vB42F ._3Alj3r {
    display: inline-block;
    color: #388e3c;
    font-weight: 500;
    margin: 0 5px
}

._2WOk5C ._1mXpeX ._-4o6jJ ._xlk_a {
    color: #388e3c;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px
}

._2WOk5C ._3i1wQw {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    min-width: 128px;
    height: 40px
}

._2WOk5C ._3i1wQw ._1s8W43 {
    box-shadow: 0 0 0 0 transparent
}

._2WOk5C ._1Q1TZl {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 6px
}

._2WOk5C ._1Q1TZl ._3qthGL {
    font-size: 12px;
    color: #ff6161
}

._2WOk5C ._1Q1TZl ._2ldVPO,._2WOk5C ._1Q1TZl ._3UhmOT {
    font-size: 12px;
    color: #ff6161;
    display: block
}

._2WOk5C ._3Gw5jC {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .5
}

.lreSlJ {
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 6px;
    max-width: 320px
}

.lreSlJ ._3qthGL {
    font-size: 12px;
    color: #ff6161
}

._2uKcsW {
    display: block;
    font-size: 14px;
    padding: 8px;
    min-width: 128px;
    font-weight: 500;
    color: #000;
    text-align: center;
    line-height: 1;
    cursor: pointer
}

._2ZU8VX {
    cursor: pointer;
    z-index: 12;
    max-width: 450px;
    border-radius: 4px
}

._2ZU8VX ._1L1v2u {
    padding: 0 4px;
    margin: 0
}

._1DCNQt {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 13px;
    padding: 4px 0
}

._1DCNQt ._2ZygZF {
    margin-left: 8px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

._1DCNQt ._27tXr0 {
    margin: 2px 4px 0 0;
    height: 14px
}

._1A8Phq {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    border: none
}

._1A8Phq .VjWsXZ {
    -webkit-flex: 2 2 0;
    -ms-flex: 2 2 0px;
    flex: 2 2 0;
    height: 100%
}

._1A8Phq ._3ahBnm,._1A8Phq .GuSPtD {
    -webkit-flex: 3 3 0;
    -ms-flex: 3 3 0px;
    flex: 3 3 0;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5
}

._1A8Phq ._3Z70dv {
    width: 30px
}

._1A8Phq ._37Ieie {
    background-color: #fafafa;
    box-shadow: none;
    border: none;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.Vy94J0 {
    text-align: center;
    padding: 30px 0 36px;
    background: #fff
}

.Vy94J0 ._2giOt4 {
    height: 162px
}

.Vy94J0 ._1LCJ1U {
    display: block;
    font-size: 18px;
    margin-top: 24px
}

.Vy94J0 .hKIFfL {
    display: block;
    font-size: 12px;
    margin-top: 10px
}

.Vy94J0 ._1sbqEe {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    padding: 12px 72px
}

._39KVu2 {
    background-color: rgba(0,0,0,.4)!important;
    z-index: 12!important
}

._2sDjKW {
    background-color: #f9f9f9;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 2px
}

._2sDjKW ._1poC5d {
    width: 65%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 518px;
    overflow-y: scroll;
    background: #fff
}

._2sDjKW ._1poC5d ._1vOryw {
    border-bottom: 1px solid #f9f9f9;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 56px;
    background: #fff
}

._2sDjKW ._1poC5d ._1vOryw ._2wNLia {
    font-size: 18px;
    line-height: 56px;
    padding: 0 24px
}

._2sDjKW ._1poC5d ._3YO2RZ {
    width: 100%;
    position: relative
}

._2sDjKW ._1poC5d ._3YO2RZ ._25y1vj {
    padding: 12px 0;
    margin: 0 18px 0 12px;
    border-bottom: 1px solid #f9f9f9
}

._2sDjKW ._1poC5d ._3YO2RZ ._25y1vj:last-child {
    border-bottom: none
}

._2sDjKW ._1poC5d::-webkit-scrollbar {
    width: 10px
}

._2sDjKW ._1poC5d::-webkit-scrollbar-track {
    background-color: #fff
}

._2sDjKW ._1poC5d::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgba(0,0,0,.1)
}

._2sDjKW ._1YScdo {
    position: relative;
    background: #fff;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px
}

._2sDjKW ._1YScdo .H5ebyN {
    max-width: 240px
}

._2sDjKW ._1YScdo ._3PEHMh {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 56px;
    padding: 0 24px
}

._2sDjKW ._1YScdo ._3d3f-F {
    margin-top: 15px;
    font-weight: 500
}

._2sDjKW ._1YScdo ._3fkL6W {
    background: #2874f0;
    margin-top: 24px;
    padding: 12px 0;
    width: 190px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer
}

._2sDjKW ._20E15R {
    width: 376px;
    margin: 10px 16px 8px
}

._2sDjKW ._3ezFt0 {
    height: 270px
}

._2sDjKW ._859sc3 {
    background: #fb641b;
    padding: 4px 16px;
    height: 52px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%
}

._2sDjKW ._3E4NGb,._2sDjKW .eJYGqk {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._2sDjKW ._2meRfZ {
    width: 20px;
    margin-left: 12px
}

._2sDjKW ._3siqnr {
    position: relative
}

._2sDjKW ._3siqnr ._3GUofo {
    position: absolute;
    bottom: 0;
    width: 100%
}

._2sDjKW ._3siqnr ._3GUofo ._2nGNQ1 {
    margin: 8px 0;
    background-color: #ffffe6;
    border-radius: 2px;
    border: 1px solid #ffe11b;
    padding: 8px 12px;
    font-size: 12px;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._2sDjKW ._3siqnr ._3GUofo ._2nGNQ1 ._1Vbv8D {
    margin-left: 10px
}

._1NDQV5 {
    background-color: rgba(0,0,0,.8)
}

._1YM591 {
    background-color: rgba(0,0,0,.4)!important
}

._6BLAgI {
    height: 89vh
}

._6BLAgI,.gErvZ6 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 960px!important;
    min-height: 512px!important
}

.gErvZ6 {
    height: 79vh
}

.gErvZ6.error {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._2v8z94 {
    height: inherit;
    width: inherit
}

._1gkpom {
    min-width: 460px!important;
    max-height: 512px!important
}

._1gkpom,._3ufe9W {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

._3ufe9W {
    overflow: hidden;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: 4px
}

._1IN70E {
    font-size: 18px;
    line-height: 56px;
    padding: 0 24px;
    border-bottom: 1px solid #f9f9f9;
    background-color: #fff
}

._3j9LoT {
    width: 64px;
    height: 64px
}

._3j9LoT,._3j9LoT ._3bEGyp {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

._3j9LoT ._3bEGyp {
    max-height: 56px;
    max-width: 56px;
    display: block
}

.bAXTue {
    max-width: 320px
}

.KrKAhW {
    margin-top: 4px;
    color: #878787;
    font-size: 12px;
    font-weight: 500
}

._2hWhmw {
    padding: 16px 0;
    margin: 0 24px 0 18px;
    border-bottom: 1px solid #f9f9f9
}

.LKe5sv {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.LKe5sv ._1fjmKf {
    height: 20px;
    width: 24px;
    color: #212121;
    text-align: center;
    font-size: 12px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    pointer-events: none;
    padding-top: 2px;
    position: absolute;
    bottom: 0
}

.LKe5sv ._2gVIqN {
    margin: 0 8px 6px 18px
}

._116M2n {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto
}

._iQQcX:hover {
    color: #2874f0
}

._3uxI06 {
    font-size: 20px;
    color: #ff6161;
    display: block;
    margin-top: 6px
}

.iyJgcM {
    position: relative;
    overflow: hidden;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto
}

.iyJgcM._2bvlx5 {
    word-break: break-all
}

._1MbXnE {
    position: absolute;
    width: 100%
}

._1kHdUD {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

._2DFZTN {
    visibility: hidden
}

._3T5_w- {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    text-align: right;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 80%)
}

.dX0U2b {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.7)
}

.dX0U2b ._3aOpdG {
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center
}

.dX0U2b ._3aOpdG ._1x476j {
    display: inline-block
}

.dX0U2b ._3aOpdG ._1x476j ._1ZMgVG {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.dX0U2b ._3aOpdG ._1Pfrl_ {
    display: inline-block;
    background: #fff;
    font-size: 18px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.14),0 2px 4px 0 rgba(0,0,0,.24);
    height: 64px;
    padding: 0 24px;
    min-width: 232px
}

.dX0U2b ._3aOpdG ._1Pfrl_ ._3SB_sh {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2px;
    height: inherit
}

._3aRLnc,.dX0U2b ._3aOpdG ._1Pfrl_ ._3SB_sh {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

._3aRLnc {
    background: #fff;
    padding: 24px;
    border-top: 1px solid #f0f0f0
}

._3aRLnc ._2bKrrn {
    -webkit-flex: 0 0 120px;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    text-align: center;
    width: 90px;
    height: 95px
}

._3aRLnc ._2rowuM {
    padding: 0 0 0 24px;
    vertical-align: top;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    min-height: 112px;
    overflow: hidden
}

._3aRLnc .M6TEFY {
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important
}

._3aRLnc ._3GAhHZ {
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1
}

._3aRLnc ._2W-mCr {
    -webkit-flex: 0 0 242px;
    -ms-flex: 0 0 242px;
    flex: 0 0 242px
}

._3aRLnc ._2bEx00 {
    color: #ff6161;
    font-size: 12px;
    padding-top: 2px
}

._3aRLnc .EWTJAy {
    color: #2874f0;
    cursor: pointer;
    margin-left: 8px;
    font-weight: 500
}

._3aRLnc ._3ZMsCl {
    padding: 24px 0 22px
}

._3aRLnc ._3ZMsCl ._3FI0V9 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 56px
}

._3aRLnc ._3ZMsCl ._1dJABY {
    font-weight: 500;
    font-size: 12px;
    border: 1px solid #f0f0f0;
    height: 56px;
    width: 56px;
    text-align: center;
    padding: 10px 0
}

._3aRLnc ._3ZMsCl ._1dJABY.K0zDOb {
    cursor: pointer
}

._3aRLnc ._3yVps- {
    margin: 0 6px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    width: 56px
}

._3aRLnc ._3yVps-:last-child {
    padding-right: 0
}

._3aRLnc ._3yVps-:first-child {
    padding-left: 0
}

._3aRLnc ._3yVps- ._3BeMJ9,._3aRLnc ._3yVps- ._11thYb {
    font-size: 12px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    text-align: center;
    pointer-events: none;
    position: absolute
}

._3aRLnc ._3yVps- ._3BeMJ9 {
    height: 20px;
    width: 24px;
    color: #212121;
    left: 60%;
    top: 60%;
    margin: 0 auto;
    overflow-x: hidden;
    padding-top: 2px
}

._3aRLnc ._3yVps- ._11thYb {
    color: #ff6161;
    font-size: 12px;
    text-align: center;
    bottom: 2px;
    padding: 2px
}

._3aRLnc .Rat10D {
    padding: 0 24px 12px 0;
    vertical-align: top;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden
}

._3aRLnc ._2cFQo5 {
    padding-left: 0
}

._2GZ0Vv {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .5
}

._1t4CmC,._2T3Kek {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

._1t4CmC {
    background-color: #ffffe6;
    border-radius: 2px;
    border: 1px solid #ffe11b;
    padding: 8px 11px;
    font-size: 12px;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    vertical-align: top;
    -webkit-flex: 0 0 242px;
    -ms-flex: 0 0 242px;
    flex: 0 0 242px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._1t4CmC ._2UNdp4 {
    display: inline-block;
    position: relative
}

._1t4CmC ._2ecWEP {
    display: inline-block;
    width: 80%;
    margin: 2px 0 0 10px;
    vertical-align: top
}

.jkGoZS {
    color: #2874f0;
    cursor: pointer;
    margin-left: 8px;
    font-weight: 500
}

._1LX50P {
    font-size: 16px
}

._258R9_ {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    margin-top: 12px;
    padding: 6px 12px 6px 24px
}

._258R9_,._258R9_ ._2KdZlC {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

._258R9_ ._2KdZlC {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 4px 0
}

._258R9_ ._1_QSud {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 8px
}

._258R9_ ._1LOssz {
    font-size: 14px;
    font-weight: 400
}

._258R9_ ._19zQ64 {
    width: 52px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 48px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 6px
}

._258R9_ .CYa43e {
    width: 36px
}

._258R9_ .TmSt3H {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    position: relative;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 4px 0;
    font-size: 12px;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

._258R9_ .TmSt3H ._1Ki9f9 {
    overflow: hidden;
    white-space: nowrap
}

._258R9_ .TmSt3H ._2JX6qW {
    height: 10px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

._258R9_ .TmSt3H ._1Ki9f9 {
    color: #878787
}

._258R9_ .TmSt3H ._2xqVa4 {
    display: inline-block;
    color: #2874f0;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 500
}

._1q86m7 {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    margin-top: 12px
}

._1q86m7 ._3rcUdH {
    padding: 18px 12px 18px 24px
}

._1q86m7 ._2KdZlC,._1q86m7 ._3rcUdH {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

._1q86m7 ._2KdZlC {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 4px 0
}

._1q86m7 ._1_QSud {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 8px
}

._1q86m7 ._19zQ64 {
    width: 52px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 48px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 6px
}

._1q86m7 .CYa43e {
    width: 36px
}

._1q86m7 ._1M8afC {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

._1q86m7 .Hr2zl5 {
    font-size: 18px;
    font-weight: 500
}

._1q86m7 ._3eBwKN {
    color: #878787;
    font-weight: 500;
    margin-top: 6px
}

._1q86m7 .Be9zSp {
    border-top: 1px solid #f0f0f0;
    padding: 16px 12px 16px 24px;
    margin-top: 6px
}

._1q86m7 .Be9zSp ._1Ki9f9 {
    color: #172337;
    font-size: 14px
}

._1q86m7 ._2YvglD {
    height: 16px;
    vertical-align: middle
}

._1q86m7 .TmSt3H {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    position: relative;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 4px 0;
    font-size: 12px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._1q86m7 .TmSt3H ._1Ki9f9 {
    overflow: hidden;
    white-space: nowrap
}

._1q86m7 .TmSt3H ._2JX6qW {
    height: 10px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

._1q86m7 .TmSt3H ._2cgrM8 {
    fill: #212121
}

._3wkmKQ {
    font-size: 20px;
    border-bottom: 1px solid #f0f0f0
}

._1IQdhP,._3wkmKQ {
    display: block;
    padding: 20px
}

._1IQdhP {
    font-size: 14px;
    line-height: 24px
}

._32FDS9 {
    height: auto;
    width: 560px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e4e7ed;
    border-radius: 4px 4px 0 0;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

._2R3Hzo {
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px
}

._1gENhb {
    font-weight: 500;
    letter-spacing: .15px;
    color: #111112
}

._1gENhb,._1y7w6t {
    height: auto;
    width: 338px;
    font-size: 16px;
    line-height: 24px
}

._1y7w6t {
    font-weight: 400
}

._2TlRkj {
    margin-right: 40px;
    -webkit-align-self: self-end;
    -ms-flex-item-align: self-end;
    align-self: self-end
}

.KElRai {
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px
}

.KElRai ._3jn8H7 {
    -ms-flex-pack: center;
    -ms-flex-align: center;
    height: 58px;
    color: #111112;
    font-size: 16px
}

.KElRai ._3jn8H7,.KElRai ._3jn8H7 ._2hJxpa {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.KElRai ._3jn8H7 ._2hJxpa {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-pack: center;
    -ms-flex-align: center
}

.KElRai ._3jn8H7 ._2hJxpa ._2FYYw1 {
    cursor: pointer
}

.KElRai ._3jn8H7 ._2hJxpa ._2_OGP3 {
    color: #2a55e5
}

.KElRai ._3jn8H7 ._2hJxpa ._2T1qz2 {
    border-bottom: 3px solid #2a55e5;
    padding: 17px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%
}

.KElRai ._3jn8H7 ._2hJxpa:hover {
    color: #2a55e5
}

._2m7Wef {
    height: auto;
    margin-left: 24px;
    margin-bottom: 24px
}

.sxIaQX {
    padding-top: 24px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .2px;
    color: #111112
}

._2oPoDR {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.ynZaKJ {
    position: relative;
    margin-right: 12px;
    width: 140px
}

._3hCKze,._29dDCG {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

._3hCKze {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 140px;
    height: 200px;
    border-radius: 4px;
    border: 1px solid #e4e7ed
}

._2Q3jzT {
    margin-left: 8px;
    margin-top: 8px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

._123jeR {
    font-weight: 400;
    letter-spacing: .15px;
    -webkit-text-decoration-line: line-through;
    -moz-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: rgba(113,116,120,.66)
}

._2Vly60,._123jeR {
    font-size: 14px;
    line-height: 20px
}

._2Vly60 {
    font-weight: 500;
    letter-spacing: .2px;
    color: #111112;
    padding-left: 4px
}

._1vvqES {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .15px;
    color: #008c00;
    padding-left: 8px;
    padding-bottom: 8px
}

._10-C35 {
    height: 28px;
    width: 28px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1.175px solid #e4e7ed;
    border-radius: 0 4px;
    z-index: 2;
    background-color: #fff
}

._2Sqr3F {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    letter-spacing: .2px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #111112
}

._3i6CRN {
    padding: 1px
}

._3ZYowz {
    position: relative
}

._3ZYowz,._3ZYowz .mYI3GX {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none
}

._3ZYowz .mYI3GX {
    overflow-x: hidden;
    padding-bottom: 64px;
    margin-bottom: -64px
}

._3ZYowz ._2hKRMr {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none
}

._3ZYowz ._2hKRMr ._37K3-p {
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

._3ZYowz ._2hKRMr ._3YgSsQ {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

._3ZYowz ._2vc5gu {
    z-index: 1
}

._3ZYowz ._2kgArB {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    pointer-events: auto;
    padding: 40px 15px;
    box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
    background-color: hsla(0,0%,100%,.98);
    cursor: pointer
}

._3ZYowz ._2kgArB._1UaPnH {
    padding: 30px 10px
}

._3ZYowz ._2kgArB._3R9YZa {
    padding: 15px 10px
}

._3ZYowz ._2kgArB:hover {
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,.3)
}

._3ZYowz ._37fuMk {
    display: none
}

._3ZYowz ._3y7w9p {
    border-radius: 0 4px 4px 0
}

._3ZYowz ._2CP_Bu {
    border-radius: 4px 0 0 4px
}

._3ZYowz ._35l9rN {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
    height: 100%;
    top: 0
}

._3ZYowz ._35l9rN.rek5UH {
    left: 0
}

._3ZYowz ._35l9rN.rek5UH._1nJQPf {
    background-image: linear-gradient(270deg,rgba(241,243,246,0),rgba(241,243,246,.91) 91%,#f1f3f6)
}

._3ZYowz ._35l9rN._31Mq1b {
    right: 0
}

._3ZYowz ._35l9rN._31Mq1b._1nJQPf {
    background-image: linear-gradient(90deg,rgba(241,243,246,0),#f1f3f6)
}

._3ZYowz ._35l9rN._1tKnHb {
    opacity: 0
}

._3ZYowz ._23HYg_ {
    fill: #212121
}

._3ZYowz ._1xtBwk {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

._3ZYowz .OgfY-y {
    left: 0
}

._3ZYowz ._2onol- {
    right: 0
}

._2CfYpZ {
    overflow: hidden
}

.snXNp5 {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none
}

._3Y9Epf {
    position: relative
}

._2BTj0g,._3Y9Epf {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

._2BTj0g {
    position: absolute;
    right: 24px;
    top: 22px
}

._7oM7oi {
    background-color: #fff;
    border: 1.4px solid;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    margin: 2px
}

._37fuMk {
    display: none
}

._1tKnHb {
    opacity: .2
}

.G6Z8Sn {
    margin-left: 10px
}

._1xtBwk,.G6Z8Sn {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

._1xtBwk {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

._1Er18h {
    max-width: 1260px;
    margin: 0 auto
}

._10Al9u {
    padding: 20px 0;
    text-align: center;
    display: block
}

._6cu41Z,.ZLCnIT {
    width: 400px
}

.ZLCnIT {
    height: 586px
}

.JCpRzc {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 4px
}

._3Nrh04 {
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important
}
