<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="MediaCenter, Template, eCommerce">
	<meta name="robots" content="all">
	<title>SHOP-MART HOME</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Customizable CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/blue.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/owl.transitions.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/rateit.css">
	<link rel="stylesheet" href="/css/bootstrap-select.min.css">

	<!-- Icons/Glyphs -->
	<link rel="stylesheet" href="/css/font-awesome.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800"
		rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800'
		rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="cnt-home">
	<!-- ============================================== HEADER ============================================== -->
	<header class="header-style-1">

		<div class="top-bar animate-dropdown">
			<div class="container">
				<div class="header-top-inner">
					<div class="cnt-account">
						<ul class="list-unstyled">

							<li><a th:href="@{/admin/adminHome}">
									<p th:if="${admin!=null}" style="color: white; font: 100;">ADMIN ACCESS</p>
								</a></li>
							<!--<li class="header_cart hidden-xs" sec:authorize="!isAuthenticated()"><a th:href="@{/login}"><span>Admin Login</span></a></li>-->

							<li class="header_cart hidden-xs"><a th:href="@{/home/viewCart}" title="View your basket!"><span>My Cart</span>
									<span style="color: rgb(255, 255, 0); font-weight: 700;" class="count"
										th:text="${cartCountValue}">2</span></a></li>

							<li class="login" sec:authorize="!isAuthenticated()"><a
									th:href="@{/registration}"><span>Register</span></a></li>

							<li class="login" sec:authorize="!isAuthenticated()"><a
									th:href="@{/login}" target="_blank" title="Login from here!"><span>Login</span></a></li>

							<li><a th:href="@{/ViewMyProfile}">
									<p th:if="${user!=null}" style="color: white; font: 100;">[[${user.fullname}]]</p>
								</a></li>

							<!--<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"
							onclick="return confirm('Logout of your account as Rajanikant Prasad?')">Logout</a></li>-->

						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
						<div class="logo"> <a th:href="@{/}"> <img src="/images/logo.png" alt="logo"> </a> </div>
					</div>

					<div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder">

						<div class="search-area">
							<form th:action="@{/home/for-all-type-product-filter}">
								<div class="control-group">
									<input type="text" name="keyword" id="keyword" th:value="${keyword}"
										class="search-field" placeholder="Search for Products, Brands and More ..." />
									<button type="submit" class="search-button" </button>
								</div>
							</form>
						</div>

					</div>

				</div>
			</div>

		</div>

		<div class="header-nav animate-dropdown">
			<div class="container">
				<div class="yamm navbar navbar-default" role="navigation">
					<div class="nav-bg-class">
						<div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
							<div class="nav-outer">
								<ul class="nav navbar-nav">
									<li class="active dropdown"> <a th:href="@{/}">Home</a></li>
									<li class="dropdown yamm mega-menu"
										th:each="(Category, iStat : ${listofCategoryWithOutKey})">
										<a th:href="@{/home/getProductByCategorySearch/{id} (id= ${Category.id})}"><span
												th:text="${Category.name}"></span></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	
	
	<!--FLASH MESSAGE-->
	<div th:if="${message}" class="alert alert-success h4 text-center alert-dismissible" role="alert">
		<span th:text="${message}"></span> &nbsp; 
		<a th:href="@{/Order/listOfOrder2}" class="alert-link">Click here to show you order details.</a>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	
	
	
	<div="body-content outer-top-vs" id="top-banner-and-menu">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar">
					<div class="side-menu animate-dropdown outer-bottom-xs">
						<div class="head"><i class="icon fa fa-align-justify fa-fw"></i> By Categories</div>
						<nav class="yamm megamenu-horizontal">
							<ul class="nav">
								<li class="dropdown menu-item"><a href="#"
										th:each="(Category, iStat : ${listofCategoryWithOutKey})"
										th:href="@{/home/getProductByCategorySearch/{id} (id= ${Category.id})}">
										<ul>
											<li th:text="${Category.name}"></li>
										</ul>
									</a>
								</li>
							</ul>
						</nav>
					</div>

					<div class="side-menu animate-dropdown outer-bottom-xs">
						<div class="head"><i class="icon fa fa-align-justify fa-fw"></i>By Price</div>
						<nav class="yamm megamenu-horizontal">
							<ul class="nav">
								<li class="dropdown menu-item">
									<a th:href="@{/home/FilterPriceUnder500}">Under ₹500</a>
									<a th:href="@{/home/FilterPrice500To1000}">₹500 - ₹1,000</a>
									<a th:href="@{/home/FilterPrice1000To5000}">₹1,000 - ₹5,000</a>
									<a th:href="@{/home/FilterPrice5000To10000}">₹5,000 - ₹10,000</a>
									<a th:href="@{/home/FilterPrice10000To20000}">₹10,000 - ₹20,000</a>
									<a th:href="@{/home/FilterPrice20000To50000}">₹20,000 - ₹50,000</a>
									<a th:href="@{/home/FilterPrice50000To100000}">₹50,000 - ₹1,00,000</a>
									<a th:href="@{/home/FilterPriceOver100000}">Over ₹1,00,000</a>
								</li>
							</ul>
						</nav>
					</div>

					<div class="side-menu animate-dropdown outer-bottom-xs">
						<div class="head"><i class="icon fa fa-align-justify fa-fw"></i>By Brand</div>
						<nav class="yamm megamenu-horizontal">
							<ul class="nav">
								<li class="dropdown menu-item">
									<a th:href="@{/home/FilterByRealme}">Realme</a>
									<a th:href="@{/home/FilterByToofan}">Toofan</a>
									<a th:href="@{/home/FilterByPuma}">Puma</a>
									<a th:href="@{/home/FilterByLg}">LG</a>
									<a th:href="@{/home/FilterByPhilips}">Philips</a>
									<a th:href="@{/home/FilterByLakme}">Lakme</a>
									<a th:href="@{/home/FilterByBajaj}">Bajaj</a>
									<a th:href="@{/home/FilterBySkybag}">Skybag</a>
									<a th:href="@{/home/FilterByEveready}">Eveready</a>
									<a th:href="@{/home/FilterByAction}">Action</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>


				<!--SLIDER START FROM HERE-->
				
				<div class="col-xs-10 col-sm-12 col-md-9 homebanner-holder">
						<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
						<!--<div class="item" style="background-image: url(/images/sliders/01.jpg);">-->
				
							<div class="item" th:each="(listofproducts : ${listofAllProduct})">
								<a th:href="@{/home/getDetailOfParticularProduct/{id} (id=${listofproducts.id})}">
									<img th:src="@{${'/productimages/' + listofproducts.imageName}}" width="30%" height="100%"></a>
								<div class="container-fluid">
									<div class="caption bg-color vertical-center text-left">
										<div class="slider-header fadeInDown-1" th:text="${listofproducts.brand}">Spring
											2024</div>
										<div class="big-text fadeInDown-1" th:text="${listofproducts.name}"> Women
											Fashion </div>
										<div class="excerpt fadeInDown-2 hidden-xs" th:text="${listofproducts.description}"> <span>Nemo
												enim ipsam voluptatem
												quia voluptas sit aspernatur aut odit aut fugit</span> </div>
										<div class="button-holder fadeInDown-3"> <a
												th:href="@{/home/getDetailOfParticularProduct/{id} (id=${listofproducts.id})}"
												class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
									</div>
								</div>
							</div>
						</div>
						

					<!--SLIDER END FROM HERE-->
					
					<!--	=================================================================================    -->

					<div class="search-result-container ">
						<div id="myTabContent" class="tab-content category-list">
							<div class="tab-pane active " id="grid-container">
								<div class="category-product border">
									
									
							<!--	 ================== start category ===========   -->				

					<div class="category" style="margin-bottom: 10px;">
										<div style="width: 100%; width: auto; border: 2px solid black;">
											<h4>New Product</h4>
										</div>
										<div class="row">

										<!--Electronics-->
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofElectronics})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>

													</div>
												</div>

											</div>
										</div>

										<!--	===============================================================================================    -->

										<!--books-->
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofBooks})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>

													</div>
												</div>

											</div>
										</div>

										<!--	===============================================================================================    -->

										<!--Mobiles-->
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofMobile})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>

													</div>
												</div>

											</div>
										</div>

										<!--	===============================================================================================    -->
										
										<!--Cosmatics-->
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofCosmetics})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!--	===============================================================================================    -->

										<!--Lightings-->
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofLighting})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
					</div>
					</div>
					</div>
					</div>
					</div>
								
									

									<hr>

<!--==========================================  Category end ------------------------------------
-->									

									<!--===================================================New copy of above code=============================================================-->

									<!--======= Add row from here to last closing div =====-->
<div class="search-result-container ">
						<div id="myTabContent" class="tab-content category-list">
							<div class="tab-pane active " id="grid-container">
								<div class="category-product border">
									
									
<!--									================== start category ===========

-->				

					<div class="category" style="margin-bottom: 10px;">
										<div style="width: 100%; width: auto; border: 2px solid black;">
											<h4>New Product</h4>
										</div>
									<div class="row">
										
										
										
										
									<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofShoes})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofTrolley_Bags})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofFashion})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofElectronics})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>

													</div>
												</div>

											</div>
										</div>
										
											
											<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofLaptopbags})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										
										
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${Wireless_Earphones})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									
									
									<!--====== Add here if you want add new item in this row...add just above this line====-->		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			


			<!--====================================================New copy of above code for New Row============================================================-->

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar"></div>
				<div class="col-xs-10 col-sm-12 col-md-9 homebanner-holder">
					<div id="hero">
						<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm"></div>
						<div class="search-result-container ">
							<div id="myTabContent" class="tab-content category-list">
								<div class="tab-pane active " id="grid-container">
									<div class="category-product border">
										<div class="row">
											<div class="col-sm-6 col-md-4 col-lg-3"
												th:each="(listofproducts : ${listofMobile})">
												<div class="item">
													<div class="products">
														<div class="product">
															<div class="product-image">
																<div class="image">
																	<a
																		th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																		<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																			alt="">
																		<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																			alt="" class="hover-image">
																	</a>
																</div>
																<div class="tag new"><span>new</span></div>
															</div>

															<div class="product-info text-left">
																<h3 class="name"><a
																		th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																		th:text="${listofproducts.name}">Floral Print
																		Buttoned</a></h3>

																<div class="rating rateit-small"></div>

																<div class="description"></div>

																<div class="product-price"> <span class="price"
																		th:text="${listofproducts.discountedPrice}">450.99</span>

																	<span class="price-before-discount"
																		th:text="${listofproducts.price}">
																		800</span>&nbsp

																	<span class="product-price"
																		th:text="${listofproducts.discountPersent}">
																		800</span><span class="dis-rate">% off</span>
																</div>
															</div>

														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--====================================================New copy of above code for New Row============================================================-->

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar"></div>
				<div class="col-xs-10 col-sm-12 col-md-9 homebanner-holder">
					<div id="hero">
						<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm"></div>
						<div class="search-result-container ">
							<div id="myTabContent" class="tab-content category-list">
								<div class="tab-pane active " id="grid-container">
									<div class="category-product border">
										<div class="row">
											<div class="col-sm-6 col-md-4 col-lg-3"
												th:each="(listofproducts : ${listofCosmetics})">
												<div class="item">
													<div class="products">
														<div class="product">
															<div class="product-image">
																<div class="image">
																	<a
																		th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																		<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																			alt="">
																		<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																			alt="" class="hover-image">
																	</a>
																</div>
																<div class="tag new"><span>new</span></div>
															</div>

															<div class="product-info text-left">
																<h3 class="name"><a
																		th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																		th:text="${listofproducts.name}">Floral Print
																		Buttoned</a></h3>

																<div class="rating rateit-small"></div>

																<div class="description"></div>

																<div class="product-price"> <span class="price"
																		th:text="${listofproducts.discountedPrice}">450.99</span>

																	<span class="price-before-discount"
																		th:text="${listofproducts.price}">
																		800</span>&nbsp

																	<span class="product-price"
																		th:text="${listofproducts.discountPersent}">
																		800</span><span class="dis-rate">% off</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--====================================================New copy of above code for New Row============================================================-->

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar"></div>
				<div class="col-xs-10 col-sm-12 col-md-9 homebanner-holder">
					<div id="hero">
						<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm"></div>
						<div class="search-result-container ">
							<div id="myTabContent" class="tab-content category-list">
								<div class="tab-pane active " id="grid-container">
									<div class="category-product border">
										<div class="row">
											<div class="col-sm-6 col-md-4 col-lg-3"
												th:each="(listofproducts : ${listofKids_Section})">
												<div class="item">
													<div class="products">
														<div class="product">
															<div class="product-image">
																<div class="image">
																	<a
																		th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																		<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																			alt="">
																		<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																			alt="" class="hover-image">
																	</a>
																</div>
																<div class="tag new"><span>new</span></div>
															</div>

															<div class="product-info text-left">
																<h3 class="name"><a
																		th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																		th:text="${listofproducts.name}">Floral Print
																		Buttoned</a></h3>

																<div class="rating rateit-small"></div>

																<div class="description"></div>

																<div class="product-price"> <span class="price"
																		th:text="${listofproducts.discountedPrice}">450.99</span>

																	<span class="price-before-discount"
																		th:text="${listofproducts.price}">
																		800</span>&nbsp

																	<span class="product-price"
																		th:text="${listofproducts.discountPersent}">
																		800</span><span class="dis-rate">% off</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--====================================================New copy of above code for New Row============================================================-->

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar"></div>
				<div class="col-xs-10 col-sm-12 col-md-9 homebanner-holder">
					<div class="search-result-container ">
						<div id="myTabContent" class="tab-content category-list">
							<div class="tab-pane active " id="grid-container">
								<div class="category-product border">
									<div class="row">
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofLighting})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!--====================================================New copy of above code for New Row============================================================-->

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar"></div>
				<div class="col-xs-10 col-sm-12 col-md-9 homebanner-holder">
					<div class="search-result-container ">
						<div id="myTabContent" class="tab-content category-list">
							<div class="tab-pane active " id="grid-container">
								<div class="category-product border">
									<div class="row">
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofToys})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!--====================================================New copy of above code for New Row============================================================-->

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar"></div>
				<div class="col-xs-10 col-sm-12 col-md-9 homebanner-holder">
					<div id="hero" th:each="(listofproducts : ${listofFashion})">
						<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm"></div>
					</div>
					<div class="search-result-container ">
						<div id="myTabContent" class="tab-content category-list">
							<div class="tab-pane active " id="grid-container">
								<div class="category-product border">
									<div class="row">
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofFashion})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--====================================================New copy of above code for New Row============================================================-->

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar"></div>
				<div class="col-xs-10 col-sm-12 col-md-9 homebanner-holder">
					<div class="search-result-container ">
						<div id="myTabContent" class="tab-content category-list">
							<div class="tab-pane active " id="grid-container">
								<div class="category-product border">
									<div class="row">
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofShoes})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--====================================================New copy of above code for New Row============================================================-->

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar"></div>
				<div class="col-xs-10 col-sm-12 col-md-9 homebanner-holder">
					<div class="search-result-container ">
						<div id="myTabContent" class="tab-content category-list">
							<div class="tab-pane active " id="grid-container">
								<div class="category-product border">
									<div class="row">
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofLaptopbags})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--====================================================New copy of above code for New Row============================================================-->

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar"></div>
				<div class="col-xs-10 col-sm-12 col-md-9 homebanner-holder">
					<div class="search-result-container ">
						<div id="myTabContent" class="tab-content category-list">
							<div class="tab-pane active " id="grid-container">
								<div class="category-product border">
									<div class="row">
										<div class="col-sm-6 col-md-4 col-lg-3"
											th:each="(listofproducts : ${listofTrolley_Bags})">
											<div class="item">
												<div class="products">
													<div class="product">
														<div class="product-image">
															<div class="image">
																<a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="">
																	<img th:src="@{${'/productimages/' + listofproducts.imageName}}"
																		alt="" class="hover-image">
																</a>
															</div>
															<div class="tag new"><span>new</span></div>
														</div>

														<div class="product-info text-left">
															<h3 class="name"><a
																	th:href="@{/home/getProductByCategorySearch/{id} (id= ${listofproducts.category.id})}"
																	th:text="${listofproducts.name}">Floral Print
																	Buttoned</a></h3>

															<div class="rating rateit-small"></div>

															<div class="description"></div>

															<div class="product-price"> <span class="price"
																	th:text="${listofproducts.discountedPrice}">450.99</span>

																<span class="price-before-discount"
																	th:text="${listofproducts.price}"> 800</span>&nbsp

																<span class="product-price"
																	th:text="${listofproducts.discountPersent}">
																	800</span><span class="dis-rate">% off</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		</div>
		</div>


	<div class="row our-features-box">
		<div class="container">
			<ul>
				<li>
					<div class="feature-box">
						<div class="icon-truck"></div>
						<div class="content-blocks">We ship worldwide</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-support"></div>
						<div class="content-blocks">call
							+91 78607 78706</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-money"></div>
						<div class="content-blocks">Money Back Guarantee</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-return"></div>
						<div class="content">15 days return</div>
					</div>
				</li>

			</ul>
		</div>
	</div>

	<!-- ======================================================== FOOTER ============================================== -->
	<footer id="footer" class="footer color-bg">
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="address-block">

							<!-- /.module-heading -->

							<div class="module-body">
								<ul class="toggle-footer">
									<li class="media">
										<div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
													class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span>
										</div>
										<div class="media-body">
											<p>Kushinagar, Gorakhpur Road NH-28, U.P, India</p>
										</div>
									</li>
									<li class="media">
										<div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
													class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span>
										</div>
										<div class="media-body">
											<p> +91 78607 78706 / +91 73803 98402</p>
										</div>
									</li>
									<li class="media">
										<div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
													class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span>
										</div>
										<div class="media-body"> <span><a href="#">ansarmart@gmail.com</a></span> </div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">Customer Service</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a href="#" title="Contact us">My Account</a></li>
								<li><a href="#" title="About us">Order History</a></li>
								<li><a href="#" title="faq">FAQ</a></li>
								<li><a href="#" title="Popular Searches">Specials</a></li>
								<li class="last"><a href="#" title="Where is my order?">Help Center</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">Corporation</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a title="Your Account" href="#">About us</a></li>
								<li><a title="Information" href="#">Customer Service</a></li>
								<li><a title="Addresses" href="#">Company</a></li>
								<li><a title="Addresses" href="#">Investor Relations</a></li>
								<li class="last"><a title="Orders History" href="#">Advanced Search</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">Why Choose Us</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a href="#" title="About us">Shopping Guide</a></li>
								<li><a href="#" title="Blog">Blog</a></li>
								<li><a href="#" title="Company">Company</a></li>
								<li><a href="#" title="Investor Relations">Investor Relations</a></li>
								<li class=" last"><a href="contact-us.html" title="Suppliers">Contact Us</a>
								</li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-bar">
			<div class="container">
				<div class="col-xs-12 col-sm-4 no-padding social">
					<ul class="link">
						<li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
						<li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a>
						</li>
						<li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#"
								title="GooglePlus"></a></li>
						<li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a>
						</li>
						<li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a>
						</li>
						<li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a>
						</li>
						<li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 no-padding copyright"><a href="#">Shahrukh Faiz</a> </div>
				<div class="col-xs-12 col-sm-4 no-padding">
					<div class="clearfix payment-methods">
						<ul>
							<li><img src="/images/payments/1.png" alt=""></li>
							<li><img src="/images/payments/2.png" alt=""></li>
							<li><img src="/images/payments/3.png" alt=""></li>
							<li><img src="/images/payments/4.png" alt=""></li>
							<li><img src="/images/payments/5.png" alt=""></li>
						</ul>
					</div>
					<!-- /.payment-methods -->
				</div>
			</div>
		</div>
	</footer>
	<!-- ============================================================= FOOTER : END============================================================= -->

	<!-- JavaScripts placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/echo.min.js"></script>
	<script src="/js/jquery.easing-1.3.min.js"></script>
	<script src="/js/bootstrap-slider.min.js"></script>
	<script src="/js/jquery.rateit.min.js"></script>
	<script src="/js/lightbox.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/scripts.js"></script>
	
</body>

</html>