<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="MediaCenter, Template, eCommerce">
	<meta name="robots" content="all">
	<title>Order Details</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Customizable CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/blue.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/owl.transitions.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/rateit.css">
	<link rel="stylesheet" href="/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="/css/outer.css">



	<!-- ================= order =============== -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
		type="text/javascript"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<!-- Icons/Glyphs -->
	<link rel="stylesheet" href="/css/font-awesome.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800"
		rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800'
		rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="cnt-home">
	<!-- ============================================== HEADER ============================================== -->
	<header class="header-style-1">

		<!-- ============================================== TOP MENU ============================================== -->
		<div class="top-bar animate-dropdown">
			<div class="container">
				<div class="header-top-inner">
					<div class="cnt-account">
						<ul class="list-unstyled">
							<li><a th:href="@{/admin/adminHome}">
									<p th:if="${admin!=null}" style="color: white; font: 100;">ADMIN ACCESS</p>
								</a></li>
							<!--<li class="header_cart hidden-xs" sec:authorize="!isAuthenticated()"><a th:href="@{/login}"><span>Admin Login</span></a></li>-->

							<li class="header_cart hidden-xs"><a th:href="@{/home/viewCart}" title="View your basket!"><span>My Cart</span>
									<span style="color: rgb(255, 255, 0); font-weight: 700;" class="count"
										th:text="${cartCountValue}">2</span></a></li>

							<li class="login" sec:authorize="!isAuthenticated()"><a
									th:href="@{/registration}"><span>Register</span></a></li>

							<li class="login" sec:authorize="!isAuthenticated()"><a
									th:href="@{/login}" target="_blank" title="Login from here!"><span>Login</span></a></li>

							<li><a th:href="@{/ViewMyProfile}">
									<p th:if="${user!=null}" style="color: white; font: 100;">[[${user.fullname}]]</p>
								</a></li>

							<!--<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"
							onclick="return confirm('Logout of your account as Rajanikant Prasad?')">Logout</a></li>-->
						</ul>
					</div>
					
			</div>
			<!-- /.container -->
		</div>
		<!-- /.header-top -->
		<!-- ============================================== TOP MENU : END ============================================== -->
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
						<!-- ============================================================= LOGO ============================================================= -->
						<div class="logo"> <a th:href="@{/}"> <img src="/images/logo.png" alt="logo"> </a> </div>
						<!-- /.logo -->
						<!-- ============================================================= LOGO : END ============================================================= -->
					</div>
				

					<div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder">
						<div class="search-area">
							<form th:action="@{/home/for-all-type-product-filter}">
								<div class="control-group">
									<input type="text" name="keyword" id="keyword" th:value="${keyword}"
										class="search-field" placeholder="Search for Products, Brands and More ..." />
									<button type="submit" class="search-button" </button>
								</div>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<!-- ============================================== NAVBAR ============================================== -->
		<div class="header-nav animate-dropdown">
			<div class="container">
				<div class="yamm navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse"
							class="navbar-toggle collapsed" type="button">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> </button>
					</div>
					<div class="nav-bg-class">
						<div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
							<div class="nav-outer">
								<ul class="nav navbar-nav">
									<li class="active dropdown"> <a th:href="@{/}">Home</a> </li>
									
									<li class="dropdown yamm mega-menu"
										th:each="(Category, iStat : ${listofCategoryWithOutKey})">
										<a th:href="@{/home/getProductByCategorySearch/{id} (id= ${Category.id})}"><span
												th:text="${Category.name}"></span></a>
									</li>
									<!--<li class="dropdown yamm mega-menu"> <a href="home.html" data-hover="dropdown"
											class="dropdown-toggle" data-toggle="dropdown">Clothing</a>
										<ul class="dropdown-menu container">
											<li>
												<div class="yamm-content ">
													<div class="row">
														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">Men</h2>
															<ul class="links">
																<li><a href="#">Dresses</a></li>
																<li><a href="#">Shoes </a></li>
																<li><a href="#">Jackets</a></li>
																<li><a href="#">Sunglasses</a></li>
																<li><a href="#">Sport Wear</a></li>
																<li><a href="#">Blazers</a></li>
																<li><a href="#">Shirts</a></li>
															</ul>
														</div>
														 /.col 

														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">Women</h2>
															<ul class="links">
																<li><a href="#">Handbags</a></li>
																<li><a href="#">Jwellery</a></li>
																<li><a href="#">Swimwear </a></li>
																<li><a href="#">Tops</a></li>
																<li><a href="#">Flats</a></li>
																<li><a href="#">Shoes</a></li>
																<li><a href="#">Winter Wear</a></li>
															</ul>
														</div>
														 /.col 

														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">Boys</h2>
															<ul class="links">
																<li><a href="#">Toys & Games</a></li>
																<li><a href="#">Jeans</a></li>
																<li><a href="#">Shirts</a></li>
																<li><a href="#">Shoes</a></li>
																<li><a href="#">School Bags</a></li>
																<li><a href="#">Lunch Box</a></li>
																<li><a href="#">Footwear</a></li>
															</ul>
														</div>
														 /.col 

														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">Girls</h2>
															<ul class="links">
																<li><a href="#">Sandals </a></li>
																<li><a href="#">Shorts</a></li>
																<li><a href="#">Dresses</a></li>
																<li><a href="#">Jwellery</a></li>
																<li><a href="#">Bags</a></li>
																<li><a href="#">Night Dress</a></li>
																<li><a href="#">Swim Wear</a></li>
															</ul>
														</div>
														 /.col 

														<div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image">
															<img class="img-responsive"
																src="/images/banners/top-menu-banner.jpg" alt=""> </div>
														 /.yamm-content 
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li class="dropdown mega-menu">
										<a href="category.html" data-hover="dropdown" class="dropdown-toggle"
											data-toggle="dropdown">Electronics <span
												class="menu-label hot-menu hidden-xs">hot</span> </a>
										<ul class="dropdown-menu container">
											<li>
												<div class="yamm-content">
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">Laptops</h2>
															<ul class="links">
																<li><a href="#">Gaming</a></li>
																<li><a href="#">Laptop Skins</a></li>
																<li><a href="#">Apple</a></li>
																<li><a href="#">Dell</a></li>
																<li><a href="#">Lenovo</a></li>
																<li><a href="#">Microsoft</a></li>
																<li><a href="#">Asus</a></li>
																<li><a href="#">Adapters</a></li>
																<li><a href="#">Batteries</a></li>
																<li><a href="#">Cooling Pads</a></li>
															</ul>
														</div>
														 /.col 

														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">Desktops</h2>
															<ul class="links">
																<li><a href="#">Routers & Modems</a></li>
																<li><a href="#">CPUs, Processors</a></li>
																<li><a href="#">PC Gaming Store</a></li>
																<li><a href="#">Graphics Cards</a></li>
																<li><a href="#">Components</a></li>
																<li><a href="#">Webcam</a></li>
																<li><a href="#">Memory (RAM)</a></li>
																<li><a href="#">Motherboards</a></li>
																<li><a href="#">Keyboards</a></li>
																<li><a href="#">Headphones</a></li>
															</ul>
														</div>
														 /.col 

														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">Cameras</h2>
															<ul class="links">
																<li><a href="#">Accessories</a></li>
																<li><a href="#">Binoculars</a></li>
																<li><a href="#">Telescopes</a></li>
																<li><a href="#">Camcorders</a></li>
																<li><a href="#">Digital</a></li>
																<li><a href="#">Film Cameras</a></li>
																<li><a href="#">Flashes</a></li>
																<li><a href="#">Lenses</a></li>
																<li><a href="#">Surveillance</a></li>
																<li><a href="#">Tripods</a></li>
															</ul>
														</div>
														 /.col 
														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">Mobile Phones</h2>
															<ul class="links">
																<li><a href="#">Apple</a></li>
																<li><a href="#">Samsung</a></li>
																<li><a href="#">Lenovo</a></li>
																<li><a href="#">Motorola</a></li>
																<li><a href="#">LeEco</a></li>
																<li><a href="#">Asus</a></li>
																<li><a href="#">Acer</a></li>
																<li><a href="#">Accessories</a></li>
																<li><a href="#">Headphones</a></li>
																<li><a href="#">Memory Cards</a></li>
															</ul>
														</div>
														<div
															class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner">
															<a href="#"><img alt=""
																	src="/images/banners/top-menu-banner1.jpg"></a>
														</div>
													</div>
													 /.row 
												</div>
												 /.yamm-content 
											</li>
										</ul>
									</li>
									<li class="dropdown"> <a href="#" class="dropdown-toggle" data-hover="dropdown"
											data-toggle="dropdown">Pages</a>
										<ul class="dropdown-menu pages">
											<li>
												<div class="yamm-content">
													<div class="row">
														<div class="col-xs-12 col-menu">
															<ul class="links">
																<li><a href="home.html">Home</a></li>
																<li><a href="category.html">Category</a></li>
																<li><a href="detail.html">Detail</a></li>
																<li><a href="shopping-cart.html">Shopping Cart
																		Summary</a></li>
																<li><a href="checkout.html">Checkout</a></li>
																<li><a href="blog.html">Blog</a></li>
																<li><a href="blog-details.html">Blog Detail</a></li>
																<li><a href="contact.html">Contact</a></li>
																<li><a href="home.html">Sign In</a></li>
																<li><a href="my-wishlist.html">Wishlist</a></li>
																<li><a href="terms-conditions.html">Terms and
																		Condition</a></li>
																<li><a href="track-orders.html">Track Orders</a></li>
																<li><a
																		href="product-comparison.html">Product-Comparison</a>
																</li>
																<li><a href="faq.html">FAQ</a></li>
																<li><a href="404.html">404</a></li>
															</ul>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li class="dropdown  navbar-right special-menu"> <a href="#">Get 30% off on selected
											items</a> </li>-->
								</ul>
								<!-- /.navbar-nav -->
								<div class="clearfix"></div>
							</div>
							<!-- /.nav-outer -->
						</div>
						<!-- /.navbar-collapse -->

					</div>
					<!-- /.nav-bg-class -->
				</div>
				<!-- /.navbar-default -->
			</div>
			<!-- /.container-class -->

		</div>
		<!-- /.header-nav -->
		<!-- ============================================== NAVBAR : END ============================================== -->

	</header>

	<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
	</div><!-- /.container -->



	<section>

		<div class="order-flex">
			<div class="odr-dtl-1">
				
				<h5>Order Id: <span th:text="'OD-'+ ${OrderByIdFound.customerOrderID}"></span></h5><br>
				
				<h4>Delivery Address:</h4>
				<h4 th:text="${OrderByIdFound.address.firstName + ' ' + OrderByIdFound.address.lastName}"></h4>
				<p th:text="|H. No. ${OrderByIdFound.address.streetAddress}, 
							${OrderByIdFound.address.city}, 
							${OrderByIdFound.address.state},
							${OrderByIdFound.address.zipCode}|"> </p>
				<h4>Phone Number</h4>
				<p th:text="'+91-'+ ${OrderByIdFound.address.mobile}">7380398402</p>
			</div>
			<div class="odr-dtl-2">
				<h4>Your Rewards</h4>
				<div class="s-coin">
					<div class="s-icon">
						<i class="fa-solid fa-coins"></i>
					</div>
					<div class="s-detail">
						<h4>8 FlexiCoin Cashback</h4>
						<p>Use it to save on your next order</p>
					</div>
				</div>
			</div>
			<div class="odr-dtl-3">
				<h4>More Actions</h4>
				<div class="flex-dwnld">
					<div class="invoice">
						<i class="fa-solid fa-file-invoice"></i>
						<p>Download Invoice</p>
					</div>
					<div id="wrap">
						<a href="#" class="btn-slide2">
							<span class="title2">Download</span>
						</a>
					</div>
				</div>
			</div>
		</div>


		<!-- ============================ Order-2nd section =================== -->


		<div class="track-order-flex">
			<div>
				<div class="track-item">
					<a th:href="@{/home/getDetailOfParticularProduct/{id} (id=${OrderByIdFound.product.id})}">
					<img th:src="@{${'/productimages/' + OrderByIdFound.product.imageName}}">
					<div>
						<h4 th:text="${OrderByIdFound.product.name
						+' | '+OrderByIdFound.product.category.name
						+' | '+OrderByIdFound.product.color
						+' | '+OrderByIdFound.product.brand}">Redmi Mobile</td>
							<td th:text="${#temporals.format(OrderByIdFound.createdAt)}"></h4>
						<!--<p>Seller : Aliya Mobiles and Accessories</p>-->
						<h5>Price</h5>
						<h4 th:text="'₹ '+ ${OrderByIdFound.product.discountedPrice}">75,000 + 25</h4></a>
						<!--<p style="color: rgb(97, 214, 97);">3 Offers & 2 coupons applied</p>-->
					</div>

				</div>
				<p>Riturn policy valid till thu may 2 <a href="#">Know more</a></p>
			</div>
			<div class="tracing">
				<ol class="progtrckr" data-progtrckr-steps="5">
					
					<li class="progtrckr-done">Order Confirmed</li><!--
   -->
					<li class="progtrckr-done">Shipped</li><!--
   -->
					<li class="progtrckr-done">Out for delivery</li><!--
   -->
					<li class="progtrckr-todo">Delivered</li>
			</div>

			<div class="rating">
				
				<a th:href="@{/review/getReviewPage/{id} (id=${OrderByIdFound.product.id})}">
				<div class="rate-flex">
					<i class="fa-solid fa-star"></i>
					<p>Rate & review product</p>
				</div></a>
				<div class="rate-flex">
					<i class="fa-solid fa-retweet"></i>
					<p>Return</p>
				</div>
				<div class="rate-flex">
					<i class="fa-solid fa-question"></i>
					<p>Need Help?</p>
				</div>
			</div>

		</div>
		<!-- ============================End Order-2nd section =================== -->

		<!-- ============================ Order-3Rd section =================== -->

		<!--<div class="sec-third">
			<div class="track-item">
				<img src="./images//iphone.jpg" alt="">
				<div>
					<h4>Ipnone lunched by Apple Company</h4>
					<p>Seller : Aliya Mobiles and Accessories</p>
					<h4>75,000 + 25</h4>
				</div>
			</div>
			<div>
				<div class="del-status">
					<i class="fa-solid fa-circle"></i>
					<p>Delivered on 5 may</p>
				</div>
				<p>Return polocy valid till 15 may</p>
			</div>
		</div>-->

	</section>

	<!-- ============================ Order-3Rd section =================== -->

	<div class="row our-features-box">
		<div class="container">
			<ul>
				<li>
					<div class="feature-box">
						<div class="icon-truck"></div>
						<div class="content-blocks">We ship worldwide</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-support"></div>
						<div class="content-blocks">call
							+91 78607 78706</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-money"></div>
						<div class="content-blocks">Money Back Guarantee</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-return"></div>
						<div class="content">15 days return</div>
					</div>
				</li>

			</ul>
		</div>
	</div>

	<!-- ============================================================= FOOTER ============================================================= -->
	<footer id="footer" class="footer color-bg">
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="address-block">

							<!-- /.module-heading -->

							<div class="module-body">
								<ul class="toggle-footer">
									<li class="media">
										<div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
													class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
										<div class="media-body">
											<p>Kushinagar, Gorakhpur Road NH-28, U.P, India</p>
										</div>
									</li>
									<li class="media">
										<div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
													class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
										<div class="media-body">
											<p>+91 78607 78706<br>
												+91 73803 98402</p>
										</div>
									</li>
									<li class="media">
										<div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
													class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
										<div class="media-body"> <span><a href="#">ansarmart@gmail.com</a></span> </div>
									</li>
								</ul>
							</div>
						</div>
					</div>


					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">Customer Service</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a href="#" title="Contact us">My Account</a></li>
								<li><a href="#" title="About us">Order History</a></li>
								<li><a href="#" title="faq">FAQ</a></li>
								<li><a href="#" title="Popular Searches">Specials</a></li>
								<li class="last"><a href="#" title="Where is my order?">Help Center</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">Corporation</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a title="Your Account" href="#">About us</a></li>
								<li><a title="Information" href="#">Customer Service</a></li>
								<li><a title="Addresses" href="#">Company</a></li>
								<li><a title="Addresses" href="#">Investor Relations</a></li>
								<li class="last"><a title="Orders History" href="#">Advanced Search</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">Why Choose Us</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a href="#" title="About us">Shopping Guide</a></li>
								<li><a href="#" title="Blog">Blog</a></li>
								<li><a href="#" title="Company">Company</a></li>
								<li><a href="#" title="Investor Relations">Investor Relations</a></li>
								<li class=" last"><a href="contact-us.html" title="Suppliers">Contact Us</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-bar">
			<div class="container">
				<div class="col-xs-12 col-sm-4 no-padding social">
					<ul class="link">
						<li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
						<li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
						<li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#"
								title="GooglePlus"></a></li>
						<li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
						<li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a>
						</li>
						<li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a>
						</li>
						<li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 no-padding copyright"><a href="#">Shahrukh Faiz</a> </div>
				<div class="col-xs-12 col-sm-4 no-padding">
					<div class="clearfix payment-methods">
						<ul>
							<li><img src="/images/payments/1.png" alt=""></li>
							<li><img src="/images/payments/2.png" alt=""></li>
							<li><img src="/images/payments/3.png" alt=""></li>
							<li><img src="/images/payments/4.png" alt=""></li>
							<li><img src="/images/payments/5.png" alt=""></li>
						</ul>
					</div>
					<!-- /.payment-methods -->
				</div>
			</div>
		</div>
	</footer>
	<!-- ============================================================= FOOTER : END============================================================= -->

	<!-- For demo purposes – can be removed on production -->

	<!-- For demo purposes – can be removed on production : End -->

	<!-- JavaScripts placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/echo.min.js"></script>
	<script src="/js/jquery.easing-1.3.min.js"></script>
	<script src="/js/bootstrap-slider.min.js"></script>
	<script src="/js/jquery.rateit.min.js"></script>
	<script type="text/javascript" src="/js/lightbox.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/scripts.js"></script>
</body>

</html>